* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    font-family: 'Roboto Condensed', sans-serif;
}

.texto {
    font-family: 'Cabin Condensed', sans-serif;
}

body {
    max-width: 800px;
    margin: auto;
}


#menu {
    height: 75px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 5px;
}

#menu a{
    text-decoration: none;
    color: white;
    background-color: #00337c;
    padding: 7px 10px;
    border-radius: 7px;
}

#menu a:last-child{
    margin-right: 5px;
}